{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TYNCAD - Cloud, Computers, Apps & Training</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="{% static 'css/hover-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsiveness.css' %}">
</head>

<body>

    <nav id="main-nav"
        class="navbar navbar-expand-lg navbar-light bg-white d-flex justify-content-between sticky-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="/">
                    <img class="nav-logo" alt="" src="{% static 'images/logo.svg' %}"> TYNCAD
                </a>
                <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">

                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/acacemy">Academy</a> -->
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/xaccounts">XAccounts</a> -->
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/xaccounts">SpeedApp</a> -->
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/xaccounts">SublimeSlate</a> -->
                    </li>
                  
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/support">Support</a> -->
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
       <!-- <div class="banner-wrapper">
        <button class="btn btn-primary customPrevBtn">prev</button> -->
            <div class="owl-carousel owl-theme banner-carousel-wrapper">
            
                <div class="item" >
                    <div class="row full-height p-5">
                        <div class="col-md-6 full-height order-md-1 order-2">
                            <div class="banner-content-wrapper">
                                <h2 class="content-title">Become a Backend Developer</h2>
                                <p>Become job ready by developing the skills necessary for building scalable, fast and flexible backends with Django REST Framework </p>
                                <div>
                                    <a class="get-started-button hvr-icon-forward" href="/academy">GET STARTED <i class="fa fa-chevron-circle-right hvr-icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 full-height order-md-2 order-1">
                            <div class="banner-img">
                                <img src="{% static 'images/web-programing.png' %}"/>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="item" >
                    <div class="row full-height p-5">
                        <div class="col-md-6 full-height order-md-1 order-2">
                            <div class="banner-content-wrapper">
                                <h2 class="content-title">Become a Data Scientist</h2>
                                <p> Develop the skill to extract intelligent insight with widely-used analytics tools and technologies, and the ability to communicate insights </p>
                                <div>
                                    <a class="get-started-button hvr-icon-forward" href="/academy">GET STARTED <i class="fa fa-chevron-circle-right hvr-icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 full-height order-md-2 order-1">
                            <div class="banner-img">
                                <img src="{% static 'images/data-science.png' %}"/>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="item" >
                    <div class="row full-height p-5">
                        <div class="col-md-6 full-height order-md-1 order-2">
                            <div class="banner-content-wrapper">
                                <h2 class="content-title">Become an Angular Expert</h2>
                                <p> Learn to build modern Single Page Applications (SPAs) with Angular, an enterprise standard frontend framework</p>
                                <div>
                                    <a class="get-started-button hvr-icon-forward" href="/academy">GET STARTED <i class="fa fa-chevron-circle-right hvr-icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 full-height order-md-2 order-1">
                            <div class="banner-img">
                                <img src="{% static 'images/frontend.png' %}"/>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            
            </div>
            <!-- <button class="btn btn-primary customNextBtn">next</button> -->
       <!-- </div> -->
    </div>
    
    
    <div class="container landing-page-heading-section">
        <section class="page-section bg-white pb-5">
            <h3 class="text-center section-heading">Join Our Nov. Cohort</h3>
            <p class="lead mt-3 text-center mb-5">
                Career development is a necessary but tough journey that can be unpleasant without the right guardians, join our Nov. cohort to have access to our network of experienced experts to guide and mentor you.
            </p>
        <ul class="row solutions-wrapper">
            <li class=" col-md-4">
                <div class="sol-item  hvr-float-shadow ">
                    <div class="sol-img mb-3">
                        <img src="{% static 'images/python.svg' %}" class=""/>
                    </div>
                  
                    <h4 class="solutions-title">Python for Data Science</h4>
                    <p class="solutions-desc">Develop the skill to extract intelligent insight with widely-used  analytics tools and technologies, and the ability to communicate insights
                    </p>
                    <ul class="sol-features mb-3">
                        <li><i class="fa fa-check-circle sol-icons"></i> 6 months duration</li>
                        <li><i class="fa fa-check-circle sol-icons"></i> Live online tuition session</li>
                        <li><i class="fa fa-check-circle sol-icons"></i> Hands-on project</li>
                    </ul>
                    <h4 class="solutions-title text-primary price-tag">GHS1,500 / $300 / NGN144,000</h4>
                    <a class="get-started-button hvr-pulse mt-2" href="http://bit.ly/tyncad-acreg" target="_blank">JOIN NOW <i class="fa fa-chevron-circle-right hvr-icon"></i></a>
             
                </div>
            </li>
            <li class=" col-md-4">
                <div class="sol-item  hvr-float-shadow ">
                    <div class="sol-img mb-3">
                        <img src="{% static 'images/django.svg' %}" class=""/>
                    </div>
                    
                  
                    <h4 class="solutions-title">Django Programming</h4>
                    <p class="solutions-desc">Become job ready by developing the skills necessary for building scalable, fast and flexible backends with Django REST Framework
                    </p>
                    <ul class="sol-features mb-3">
                        <li><i class="fa fa-check-circle sol-icons"></i> 6 months duration</li>
                        <li><i class="fa fa-check-circle sol-icons"></i> Live online tuition session</li>
                        <li><i class="fa fa-check-circle sol-icons"></i> Hands-on project</li>
                    </ul>
                    <h4 class="solutions-title text-primary price-tag">GHS1,500 / $300 / NGN144,000</h4>
                    <a class="get-started-button hvr-pulse mt-2" href="http://bit.ly/tyncad-acreg" target="_blank">JOIN NOW <i class="fa fa-chevron-circle-right hvr-icon"></i></a>
                  
                </div>
            </li>
            <li class=" col-md-4">
                <div class="sol-item  hvr-float-shadow ">
                    <div class="sol-img mb-3">
                        <img src="{% static 'images/angularjs.svg' %}" class=""/>
                    </div>
                    
                  
                    <h4 class="solutions-title">Angular Programming</h4>
                    <p class="solutions-desc">Learn to build modern Single Page Applications (SPAs) with Angular, an enterprise standard frontend framework
                    </p>
                    <ul class="sol-features mb-3">
                        <li><i class="fa fa-check-circle sol-icons"></i> 3 months duration</li>
                        <li><i class="fa fa-check-circle sol-icons"></i> Live online tuition session</li>
                        <li><i class="fa fa-check-circle sol-icons"></i> Hands-on project</li>
                    </ul>
                    <h4 class="solutions-title text-primary price-tag">GHS600 / $110 / NGN144,000</h4>
                    <a class="get-started-button hvr-pulse mt-2" href="http://bit.ly/tyncad-acreg" target="_blank">JOIN NOW <i class="fa fa-chevron-circle-right hvr-icon"></i></a>
                  
                </div>
            </li>
           
        </ul>
        </section>
       <section class="pb-5 ">
        <h3 class="text-center section-heading">What we do</h3>
        <p class="lead mt-3 text-center mb-5">
            We run with the mission to empower individuals and businesses to succeed and empower many. This mission has informed the execution and delivery of our service to give of the best
        </p>
        <ul class="row services-wrapper">
            <li class=" col-md-3">
                <div class="service-item  hvr-float-shadow ">
                    <div class="sol-img mb-3">
                        <img src="{% static 'images/python.svg' %}" class=""/>
                    </div>
                  
                    <h4 class="solutions-title">Programming  Training</h4>
                    <p class="solutions-desc">We  help you  jump start your next programming career
                    </p>
                    
                </div>
            </li>
            <li class=" col-md-3">
                <div class="service-item  hvr-float-shadow ">
                    <div class="sol-img mb-3">
                        <img src="{% static 'images/python.svg' %}" class=""/>
                    </div>
                  
                    <h4 class="solutions-title">Software Engineering</h4>
                    <p class="solutions-desc">Build your next website, web app, API and mobiile app with us
                    </p>
                    
                </div>
            </li>
            <li class=" col-md-3">
                <div class="service-item  hvr-float-shadow ">
                    <div class="sol-img mb-3">
                        <img src="{% static 'images/python.svg' %}" class=""/>
                    </div>
                  
                    <h4 class="solutions-title">Data Analysis</h4>
                    <p class="solutions-desc">Not only do we give you value for your data, but we help you grow with data
                    </p>
                    
                </div>
            </li>
            <li class=" col-md-3">
                <div class="service-item  hvr-float-shadow ">
                    <div class="sol-img mb-3">
                        <img src="{% static 'images/python.svg' %}" class=""/>
                    </div>
                  
                    <h4 class="solutions-title">Design & Printing</h4>
                    <p class="solutions-desc">We offer you the best branding services and quality printing
                    </p>
                    
                </div>
            </li>
        </ul>
       </section>
       <section class="pb-5">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-12 px-5 pb-3 message-box d-none">
                    <div class="alert alert-danger"></div>
                </div>
                <div class="col-md-6">
                    <div class="contact-us-form gray-light-bg rounded p-5">
                        <h4 class="contact-us-title">Ready to get started?</h4>
                        <form action="#" method="POST" id="contactForm" class="contact-us-form mt-3" novalidate="true">
                            <input type="hidden" name="csrfToken" id="csrfToken" value="05bbc6d5113a46d926bd2bbd4b19333bdb8748f60195d508ab1c0aa0e6976abc">
                            <div class="form-row">
                                <div class="col-12 mb-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" required="required">
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" required="required">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" class="form-control" rows="7" cols="25" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-3">
                                    <button type="submit" class="btn btn-primary" id="btnContactUs" style="pointer-events: all; cursor: pointer;">
                                        Send Message
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="contact-us-content">
                        <h4 class="contact-us-title">Looking for a excellent Service?</h4>
                        <p class="lead">Enjoy seamless solutions that empowers you beyond boundaries.</p>

                        <!-- <a href="#" class="btn outline-btn align-items-center">Get Directions <span class="ti-arrow-right pl-2"></span></a> -->

                        <hr class="my-5">

                        <!-- <h5>Our Headquarters</h5>
                        <address>
                            100 Yellow House, Mn <br>
                            Factory, United State, 13420
                        </address>
                        <br> -->
                        <span>Phone: +233247446039</span> <br>
                        <span>Email: <a href="mailto:hello@tyncad.com" class="link-color">hello@tyncad.com</a></span>

                    </div>
                </div>
            </div>
        </div>
       </section>
        <div class="container">
            <div class="main-content" >
               
                {% csrf_token %}
                {% block main_body %}
                {% endblock main_body %}
            



            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container" >
            <div class="row" >
                <div class="col-lg-4" >
                    <div class="widget" >
                         <img class="logo" alt="" style="width: 60px;" src="{% static 'images/logo-white.svg' %}">
                        <div class="spacer-20"></div>
                        <!-- <h5 class="mt-2">Contact</h5> -->
                        
                    </div>
                </div>

                <div class="col-lg-4" >
                    <div class="widget" >
                        <h5>Support</h5>
                        <address class="mb-0">Tel: +233247446039</address>
                        <address>Email: hello@tyncad.com</address>

                    </div>
                </div>

                <div class="col-lg-4" >
                    <div class="widget" >
                        <h5>Follow Us</h5>
                        <div class="col-md-6 text-md-right text-sm-left text-white" >
                            <div class="social-icons text-white" >
                                <a class="pr-3" href="https://facebook.com/tyncad" target="_blank"><i class="fa fa-facebook text-white fa-lg"></i></a>
                                <a href="https://twitter.com/tyncad" target="_blank"><i class="fa fa-twitter text-white fa-lg"></i></a>
                                <a href="https://www.linkedin.com/company/tyncad" target="_blank"><i class="fa fa-linkedin text-white fa-lg"></i></a>
                                <a href="https://instagram.com/_tyncad" target="_blank"><i class="fa fa-instagram fa-lg text-white"></i></a>
                                <a href="https://www.youtube.com/channel/UChE1cBSCITwOYSWh0r6197g" target="_blank"><i class="fa fa-youtube fa-lg text-white"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>


               
            </div>

            <div class="mt10 text-center copy-right">© Copyright 2021 - TYNCAD</div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</body>

</html>